<body>
  <mat-toolbar color="primary">
    <a routerLink="/">
      <h2>Workshop</h2>
    </a>
    <span class="example-spacer"></span>

    <div class="wrapper-user" *ngIf="profile">
      <h3>{{ profile.username }}</h3>
      <button
        mat-icon-button
        class="example-icon person-icon wrapper-button"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>person</mat-icon>
      </button>
    </div>

    <div *ngIf="!profile">
      <a routerLink="/login">
        <button class="wrapper-button"><h2>Войдите в аккаунт</h2></button>
      </a>
    </div>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="example-icon person-icon wrapper-button"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="/products">
        <button mat-menu-item>Table of products</button>
      </a>
      <a routerLink="/users">
        <button mat-menu-item>Table of users</button>
      </a>
      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <p></p>
  <div class="bodyForContent">
    <mat-card
      class="sizeTable"
      [ngClass]="{ 'full-width': fullWidth }"
      id="bodyForContent"
    >
      <mat-card-actions>
        <router-outlet></router-outlet>
      </mat-card-actions>
    </mat-card>
  </div>

  <div style="clear: both"></div>
</body>
