.example-spacer {
  flex: auto;
  color: black;
}

.wrapper-user h3 {
  float: left;
}

a {
  text-decoration: none;
  color: white;
}

body {
  width: 100%;
  height: 100%;
  background: #d9d9d9;
}

.wrapper-button {
  border: 0;
  background: transparent;
  color: #fff;
}

.wrap {
  width: 100%;
  overflow: auto;
}

.fleft {
  float: left;
  width: 18.899%;
  background: #d9d9d9;
  height: 10px;
}

.fcenter {
  float: left;
  width: 60%;
  background: white;
  height: 100%;
  padding: 12px;
  border-radius: 30px;
}
.fcenter2 {
  width: 95%;
  background: white;
  height: 100%;
  padding: 12px;
  border-radius: 30px;
}
