.example-spacer {
  flex: auto;
  color: black;
}

.wrapper-user h3 {
  float: left;
}

a {
  text-decoration: none;
  color: white;
}

body {
  width: 100%;
  height: 100%;
  background: #d9d9d9;
}

.wrapper-button {
  border: 0;
  background: transparent;
  color: #fff;
}

.bodyForContent {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #d9d9d9;
}

.sizeTable {
  width: 70%;
  height: 100%;
}
