table {
  width: 100%;
}
.mat-button {
  width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.mat-button {
  margin: auto;
  font-size: medium;
  margin-top: 26px;
}

.image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.mat-button.mat-custom {
  color: #ffffff;
  background-color: #555555;
}

.mat-button.mat-custom:hover {
  background-color: #414141;
}

.mat-button.mat-custom:disabled {
  background-color: #949494;
}
