<div *ngIf="formGroup && user" [formGroup]="formGroup" class="user-container">
  <h1><strong>Edit User</strong></h1>

  <img *ngIf="user.imagePreview" [src]="user.imagePreview" class="avatar" />

  <mat-form-field class="mat-input">
    <mat-label>Username</mat-label>
    <input
      matInput
      type="text"
      placeholder="Username"
      formControlName="username"
    />
    <mat-error *ngIf="formGroup.controls['username'].invalid">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="mat-input">
    <mat-label>Email</mat-label>
    <input matInput placeholder="email" formControlName="email" />
    <mat-error *ngIf="formGroup.controls['email'].invalid">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="mat-input">
    <mat-label>Phone</mat-label>
    <input matInput placeholder="phone" formControlName="phone" />
  </mat-form-field>

  <mat-form-field class="mat-input">
    <mat-label>Site</mat-label>
    <input matInput placeholder="Your Site" formControlName="site" />
  </mat-form-field>

  <mat-form-field class="mat-input">
    <mat-label>Image name</mat-label>
    <input
      matInput
      type="text"
      placeholder="avatar"
      formControlName="avatar"
      readonly
    />
  </mat-form-field>

  <button
    mat-button
    class="mat-button"
    id="loadImage"
    color="custom"
    (click)="image.click()"
  >
    Load image
  </button>

  <input
    type="file"
    accept="image/*"
    hidden
    #image
    (change)="onLoadImage($event)"
  />

  <div class="btns-div">
    <button
      mat-button
      class="mat-button"
      color="custom"
      [disabled]="formGroup.invalid"
      (click)="updateUser()"
    >
      Save changes
    </button>
    <button mat-button class="mat-button" color="#fff" routerLink="/users">
      Cancel
    </button>
  </div>
</div>
