.example-spacer {
  flex: auto;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

body {
  width: 100%;
  height: 2150px;
  background: #d9d9d9;
}

.dashboard-button {
  border: 0;
  background: transparent;
  color: #fff;
}

.wrap {
  width: 100%;
  overflow: auto;
}

.fleft {
  float: left;
  width: 18.899%;
  background: #d9d9d9;
  height: 2040px;
}

.fcenter {
  float: left;
  width: 60%;
  background: white;
  height: 2000px;
  border: 8px solid #c5c5c5;
  padding: 12px;
  border-radius: 30px;
  border-width: 0px 8px 8px 3px;
}
